{% extends 'hub_app/auth/forgot-credentials/_step3.html' %}

{% load i18n %}

{% block title %}{% trans 'Set new Password' %} | {{ block.super }}{% endblock %}

{% block fc %}
    <h2>{% trans 'Set your new password now' %}</h2>
    <form method="post" action="{% url 'ha:auth:fc:step.3.password' recovery=recovery %}">
        {% csrf_token %}
        {{ form.auth }}
        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for e in form.non_field_errors %}
                    {{ e }}
                    {% if not forloop.last %}<br>{% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% if form.password.errors %}
            <div class="alert alert-danger" role="alert">
                <p><strong>{{ form.password.label }}:</strong></p>
                {% for e in form.password.errors %}
                    {{ e }}
                    {% if not forloop.last %}<br>{% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% if form.password_repeat.errors %}
            <div class="alert alert-danger" role="alert">
                <p><strong>{{ form.password_repeat.label }}:</strong></p>
                {% for e in form.password_repeat.errors %}
                    {{ e }}
                    {% if not forloop.last %}<br>{% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="{{ form.password.id_for_label }}">{{ form.password.label }}{{ form.label_suffix }} <sup><span class="badge badge-info">{% trans 'required' %}</span></sup></label>
                    {{ form.password }}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="{{ form.password_repeat.id_for_label }}">{{ form.password_repeat.label }}{{ form.label_suffix }} <sup><span class="badge badge-info">{% trans 'required' %}</span></sup></label>
                    {{ form.password_repeat }}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-lg btn-primary mt-4">{% trans 'Set new Password' %}</button>
    </form>
{% endblock %}