{% extends 'hub_app/auth/forgot-credentials/_step3.html' %}

{% load i18n %}

{% block title %}{% trans 'Set new OTP Secret' %} | {{ block.super }}{% endblock %}

{% block fc %}
    <form method="post" action="{% url 'ha:auth:fc:step.3.otp-secret' recovery=recovery %}">
        {% csrf_token %}
        {{ form.auth }}
        <p><strong>{% trans "We're ready to create a new OTP secret for you." %}</strong></p>
        <p>{% trans "Be prepared to scan the new secret." %}</p>
        <button type="submit" class="btn btn-lg btn-primary mt-3">{% trans 'Reveal new OTP secret' %}</button>
    </form>
{% endblock %}