{% extends 'hub_app/auth/_auth.html' %}

{% load i18n %}

{% block title %}{% trans 'Forgot Credentials?' %} | {{ block.super }}{% endblock %}

{% block auth-title %}{% trans 'Forgot Credentials?' %}{% endblock %}

{% block auth %}
    <h2>{% trans 'Oh no...' %}</h2>
    <p>{% trans "We were not able to surley identify your user account, because more than one account in our database are associated with your E-Mail address." %}</p>
    <p>{% trans "We are fine with you having multiple accounts, but this tool can't do it's job." %}</p>
    <p><strong>{% trans "Please contact our friendly support for additional help." %}</strong></p>
{% endblock %}