{% extends 'hub_app/auth/_auth.html' %}

{% load i18n %}

{% block title %}{% trans 'Forgot Credentials?' %} | {{ block.super }}{% endblock %}

{% block auth-title %}{% trans 'Forgot Credentials?' %}{% endblock %}

{% block auth %}
    <h2>{% trans 'Forgot your credentials?' %} <small class="text-muted">{% trans "Don't worry, we are here to help!" %}</small></h2>
    <form method="post" action="{% url 'ha:auth:fc:step.1' %}" data-ui-relevance="forgotten-credentials-step1">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for e in form.non_field_errors %}
                    {{ e }}
                    {% if not forloop.last %}<br>{% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <p class="mt-3"><strong>{% trans "What's lost?" %}</strong></p>
        {% with form.step1 as s1 %}
            {% if s1.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for e in s1.errors %}
                        {{ e }}
                        {% if not forloop.last %}<br>{% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {% for s in s1 %}
                <div class="form-check">
                    <input class="form-check-input" type="{{ s.data.type }}" name="{{ s.data.name }}" id="{{ s.data.attrs.id }}" value="{{ s.data.value }}"{% if s.data.selected %} checked{% endif %}>
                    <label class="form-check-label" for="{{ s.data.attrs.id }}">{{ s.choice_label }}</label>
                </div>
            {% endfor %}
        {% endwith %}
        <button type="submit" class="btn btn-primary btn-lg mt-4">{% trans 'Okay, tell me what to do' %}</button>
    </form>
{% endblock %}