{% load i18n %}
{% load hub_app_lang %}

<!DOCTYPE html>
<html lang="{% current_language %}" xml:lang="{% current_language %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% trans 'Passiopeia Hub' %}{% endblock %}</title>
    {% include 'hub_app/base/frameworks/bootstrap/head.html' %}
</head>
<body>
    {% block body %}{% endblock %}
    {% include 'hub_app/base/frameworks/bootstrap/late-body.html' %}
</body>
</html>