{% load i18n %}

<li class="nav-item">
    <a class="nav-link{% if active == 'overview' %} active{% endif %}" href="{% if active == 'overview' %}#{% else %}{% url 'ha:acc:credentials' %}{% endif %}"><i class="fa fa-question-circle mr-2"></i> {% trans 'Help & Instructions' %}</a>
</li>
<li class="nav-item">
    <a class="nav-link{% if active == 'password' %} active{% endif %}" href="{% if active == 'password' %}#{% else %}{% url 'ha:acc:credentials.password' %}{% endif %}"><i class="fa fa-key mr-2"></i> {% trans 'Password' %}</a>
</li>
<li class="nav-item">
    <a class="nav-link{% if active == 'otp-secret' %} active{% endif %}" href="{% if active == 'otp-secret' %}#{% else %}{% url 'ha:acc:credentials.otp-secret' %}{% endif %}"><i class="fa fa-qrcode mr-2"></i> {% trans 'OTP Secret' %}</a>
</li>
