{% extends 'hub_app/my-account/_credentials.html' %}

{% load i18n %}

{% block title %}{% trans 'Password' %} | {{ block.super }}{% endblock %}

{% block credential-tabs %}
    {% include 'hub_app/my-account/_credentials-nav.html' with active='password' %}
{% endblock %}

{% block credentials %}
    <form method="post" action="{% url 'ha:acc:credentials.password' %}" data-ui-relevance="password-change-form">
        {% csrf_token %}
        <div class="card w-75 m-3 ml-auto mr-auto">
            <h4 class="card-header">{% trans 'Change your password' %}</h4>
            <div class="card-body">
                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for e in form.non_field_errors %}
                            {{ e }}
                            {% if not forloop.last %}<br>{% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if form.old_password.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for e in form.old_password.errors %}
                            {{ e }}
                            {% if not forloop.last %}<br>{% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="form-group">
                    <label for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}{{ form.label_suffix }}</label>
                    {{ form.old_password }}
                </div>
                <hr>
                {% if form.new_password1.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for e in form.new_password1.errors %}
                            {{ e }}
                            {% if not forloop.last %}<br>{% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="form-group">
                    <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}{{ form.label_suffix }}</label>
                    {{ form.new_password1 }}
                </div>
                {% if form.new_password2.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for e in form.new_password2.errors %}
                            {{ e }}
                            {% if not forloop.last %}<br>{% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="form-group">
                    <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}{{ form.label_suffix }}</label>
                    {{ form.new_password2 }}
                </div>
                <p>{% trans 'Setting a new password will log you out of all sessions.' %}</p>
                <button type="submit" class="btn btn-lg btn-primary mt-3">{% trans 'Set new Password' %}</button>
            </div>
        </div>
    </form>
{% endblock %}
