{% extends 'hub_app/my-account/_credentials.html' %}

{% load i18n %}
{% load hub_app_otp %}
{% load static %}

{% block title %}{% trans 'OTP Secret' %} | {{ block.super }}{% endblock %}

{% block credential-tabs %}
    {% include 'hub_app/my-account/_credentials-nav.html' with active='otp-secret' %}
{% endblock %}

{% block credentials %}
    <div class="card w-75 m-3 ml-auto mr-auto">
        <h4 class="card-header">{% trans 'Set new OTP Secret' %}</h4>
        <div class="card-body">
            <form method="post" action="{% url 'ha:acc:credentials.otp-secret' %}">
                {% csrf_token %}
                {% if success %}
                    <div class="alert alert-success" role="alert">
                        {% trans 'Your new OTP secret has been set' %}
                    </div>
                {% endif %}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for e in form.non_field_errors %}
                            {{ e }}
                            {% if not forloop.last %}<br>{% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if form.otp_confirm.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for e in form.otp_confirm.errors %}
                            {{ e }}
                            {% if not forloop.last %}<br>{% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if new_secret %}
                    <div class="row">
                        <div class="col-lg-6">
                            {% inline_otp_qr_code username=username secret=new_secret %}
                        </div>
                        <div class="col-lg-6">
                            <p>{% trans 'After scanning the code, please enter a new one time password.' %}</p>
                            <div class="form-group">
                                <label for="{{ form.otp_confirm.id_for_label }}">{{ form.otp_confirm.label }}{{ form.label_suffix }}</label>
                                {{ form.otp_confirm }}
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg mt-3">{% trans 'Confirm new OTP secret' %}</button>
                        </div>
                    </div>
                {% else %}
                    <p>{% trans 'Please click the following button to create a new OTP secret' %}</p>
                    <button type="button" class="btn btn-lg btn-primary mt-3" data-put="{% url 'ha:acc:credentials.otp-secret' %}">{% trans 'Create new OTP secret' %}</button>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}

{% block late-body %}
    {{ block.super }}
    <script type="application/javascript" src="{% static 'hub_app/helper/put-button.js' %}"></script>
{% endblock %}
