{% load i18n %}

{% get_available_languages as LANGUAGES %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info_list for LANGUAGES as languages %}


<form action="{% url 'set_language' %}" method="post" id="language_selector_{{ instance }}">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ next_url }}"/>
    <div class="dropdown">
        <button class="btn btn-sm btn-dark dropdown-toggle" type="button" id="languageSelectorDropdownButton_{{ instance }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-globe mr-2"></i> {% trans 'Language' %}</button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="languageSelectorDropdownButton_{{ instance }}">
            {% for language in languages %}
                <button class="btn-dark dropdown-item{% if language.code == LANGUAGE_CODE %} active{% endif %}" type="submit" name="language" value="{{ language.code }}">{{ language.name_local }}</button>
            {% endfor %}
        </div>
    </div>
</form>
