{% load i18n %}

<div class="dropdown" data-ui-relevance="login-menu">
    <button class="mr-0 mr-lg-2 btn btn-sm {% if user.is_authenticated %}btn-secondary{% else %}btn-primary{% endif %} dropdown-toggle" type="button" id="accountDropdownButton_{{ instance }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if user.is_authenticated %}
            <i class="fa fa-user mr-2"></i> {{ user.username }}
        {% else %}
            <i class="fa fa-sign-in-alt mr-2"></i> {% trans 'Sign Up or Sign In!' %}
        {% endif %}
    </button>
    <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="accountDropdownButton_{{ instance }}">
        {% if user.is_authenticated %}
            <h6 class="dropdown-header">{% blocktrans with user_fn=user.first_name %}Hi, {{ user_fn }}!{% endblocktrans %}</h6>
            <a class="dropdown-item" href="{{ account_url }}"><i class="fa fa-user-circle mr-2"></i> {% trans 'Your Account' %}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ logout_url }}"><i class="fa fa-sign-out-alt mr-2"></i> {% trans 'Logout' %}</a>
        {% else %}
            <a class="dropdown-item" href="{{ register_url }}"><i class="fa fa-user-plus mr-2"></i> {% trans 'Sign up!' %}</a>
            <a class="dropdown-item" href="{{ login_url }}?next={{ next_url|urlencode }}"><i class="fa fa-sign-in-alt mr-2"></i> {% trans 'Sign in' %}</a>
        {% endif %}
    </div>
</div>