{% load i18n %}

<div class="dropdown">
    <button class="mr-0 mr-lg-2 btn btn-sm {% if user_obj.is_authenticated %}btn-secondary{% else %}btn-primary{% endif %} dropdown-toggle" type="button" id="accountDropdownButton_{{ instance }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if user_obj.is_authenticated %}
            <i class="fa fa-user mr-2">{{ user_obj.username }}</i>
        {% else %}
            <i class="fa fa-sign-in-alt mr-2"></i> {% trans 'Sign Up or Sign In!' %}
        {% endif %}
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownButton_{{ instance }}">
        {% if user_obj.is_authenticated %}
        {% else %}
        {% endif %}
    </div>
</div>